.Login{
    background-image: url('../../recursos/bgedificios.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.contenedor-datos{
    background-color: rgba(255, 255, 255, 0.7); /* Fondo con color blanco semi-transparente */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    
}

.globo{
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
}

.globo-boton{
    background-color: #434B77;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    width: 250px;
}

.imagenRol {
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;
    height: 80px;
    width: 80px;
    margin: 0 15px 15px 0;
}