.datos-usuario{
    margin: 10% 30% 0 30%;
    background-color: rgb(163, 154, 182);
    padding: 2%;
    border-radius: 10px;
}
.datos-usuario p{
    padding: 2%;
    border-radius: 5px;
}
.datos-usuario h5{
    text-align: left;
}

.btn-modificar{
    position: absolute;
    right: 30%;
    top: 20%;
    background-color: transparent;
    border:none;
}

.btn-guardar{
    position: absolute;
    right: 30%;
    top: 20%;
    background-color: white;
    border:none;
}